@charset "utf-8";



/* 블라인드 처리 공통
---------------------- */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

div {
    display: block;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

body {
    padding: 35px 0px 27px;

}