@charset "utf-8";

/** timesquare */
#timesquare {
    background-color: #ffff;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    border: 1px solid #dae1e6;
    margin: 12px 0;
    letter-spacing: -.25px;
    height: 35px;
}

#media_thumb .thumb img {
    width: 232px;
    height: 130px;
}

#timesquare #cardwrap {
    height: 45px;
    display: inline;

}

#timesquare h2 {
    display: inline;

}


.sc_timesquare {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}

a {
    color: inherit;
    text-decoration: none;
}


.sc_timesquare {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}

.sc_timesquare .card_wrap {
    overflow: hidden;
    height: 47px;
    padding-right: 67px;
}

div {
    display: block;
}

.sc_timesquare {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}

:root {
    color-scheme: light;
}




s a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.sc_timesquare .card_nav a {

    display: inline-block;
    border: 1px solid #e4e8eb;
    float: left;

}

.sc_timesquare .card_nav .btn_prev {
    position: absolute;
    left: 290px;
    top: 13px;
}

.sc_timesquare .card_nav .btn_next {
    position: absolute;
    right: 11px;
    top: 13px;

}

.sc_timesquare .card_nav .btn_prev:before {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -366px -308px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_9e1b19.png);
    background-size: 440px 408px;
}

.sc_timesquare .card_nav .btn_next:before {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -262px -135px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_9e1b19.png);
    background-size: 440px 408px;
}

.sc_timesquare .card_news {
    display: block;
    float: left;
}

.sc_timesquare .card_news .news {
    margin-left: 3px;
    position: relative;
    top: 2px;
}

.sc_timesquare .card_news img {
    position: relative;
    top: 1px;
}